* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 3px;
    word-spacing: 1.5px;
    overflow-x: hidden;

}

nav {
    width: 100vw;
    /* max-height: 16vh; */
    position: fixed;
    text-align: center;
    background-color: rgb(202, 142, 64);
    padding: 10px 0px;
    z-index: 5;
    
}

nav a {
    display: inline-block;
    padding: 10px;
    margin: 0px 5px;
    text-decoration: none;
    
    color: rgb(255, 255, 255);
    font-weight: bolder;
}

nav .hide, nav h2 {
    display: none;
}

nav .hide 

nav a:hover {
    background-color: white;
    color: rgb(212, 140, 44);
}

 

.hero {
    width: 100vw;
    min-height: 50vh;
    padding: 25px;
    background-color: tan;
    top: 10vh;
    position: relative;
    margin: 0% auto 120px;
}

.hero h1, h1 {
    font-size: 3rem;
    color: rgb(212, 140, 44);
    text-align: center;
    margin: 25px 0px 10px;
    font-weight: bolder;
}

.hero h2 {
    font-size: 1.5rem;
    color: white;
    text-align: center;
    margin: 5px auto;
    max-width: 70%;
    
}

.hero a {
    display: block;
    padding: 25px;
    max-width: 50%;
    margin: 25px auto;
    border: 2px solid rgb(211, 149, 68);
    background-color: rgb(197, 134, 52);
    text-decoration: none;
    color: white;
    font-weight: bolder;
    text-align: center;
    font-size: 1.5rem;
}

.hero a:hover {
    background-color: rgb(211, 149, 68);
    
}

#thespeakers {
    width: 95vw;
    margin: 0px auto 25px;
    position: relative;
    text-align: center;
}



#thespeakers .speaker {
    width: 75vw;
    text-align: center;
    /* height: 50vh; */
    margin: 25px auto;
    overflow: hidden;
    border: 2px solid rgb(212, 140, 44);
}

#thespeakers .speaker img {
    max-width: 75%;
    max-height: 50%;
    /* width: 400px;
    height: 400px; */
}

#gain {
    background-color: tan;
    padding: 15px 0px;
}

.learn {
    width: 75vw;
    text-align: center;
    background-color: white;
    border: 1px solid rgb(243, 232, 232);
    /* height: 50vh; */
    margin: 25px auto;
    padding: 15px 10px 0px;
    
    overflow: hidden;
}

.learn h2 {
    margin-bottom: 10px;
}



.learn p {
    letter-spacing: normal;
    word-spacing: 1.5px;
    line-height: 150%;
    font-weight: 500;
    margin: 5px 0px 0px;
}

.learn hr {
    color: rgb(212, 140, 44);
    width: 75%;
    text-align: center;
    margin: 2.5px auto 5px;
    height: 5px;
    background-color: rgb(212, 140, 44);
    outline: none;
    border: none;

}

footer {
    width: 100vw;
    /* min-height: 50vh; */
    background-color: rgb(202, 142, 64);
    color: white;
    border: 1px solid rgb(202, 142, 64);
    padding: 5% 5% 2.5%%;
}

footer .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 2%;
    
}

footer .footer-container  .links {
    margin: 0px 10px;
    min-width: 40%;
    
}

footer .footer-container div h4 {
    margin-bottom: 25px;
}
 footer .footer-container  ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

footer .footer-container li a {
    text-decoration: none;
    display: block;
    padding: 2.5% 1%;
    width: 50%;
    margin: 5px;
    color: white;
    
}

footer .footer-container li a:hover {
    background-color: white;
    color: rgb(212, 140, 44);
    font-weight: bolder;
}

footer .last {
    text-align: center;
    width: 90%;
    margin: 25px auto 25px;
}

.last a, .links a {
    color: inherit;
}


 



@media screen and (min-width: 800px) {
    .speakercontainer, .learncontainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 95vw;
        margin: auto;
    }

    #thespeakers .speaker {
        max-width: 30vw;
        border: none;
    }

    #thespeakers .speaker:first-child {
        border-right: 2px solid rgb(212, 140, 44) !important;
    }

    #thespeakers .speaker:last-child {
        border-left: 2px solid rgb(212, 140, 44) !important;
    }

    nav .hide {
        display: inline-block;
    }

    nav h2 {
        display: inline-block;
        padding: 10px;
        margin: 0px 5px;
        text-decoration: none;
        
        color: rgb(255, 255, 255);
        font-weight: bolder;
    }
    
    .learn {
        width: 30%;
    }

    .hero {
        top: 7.5vh;
    }

    .hero h2 {
        width: 50%;
        margin: 20px auto;
        
    }

    .hero a {
        max-width: 30%;
        font-size: 1.5rem;
    }

    .hero h2 {
        font-size: 2rem;
    }
}